flows (8).json
[
    {
        "id": "2f9f2a3e43ec6f24",
        "type": "subflow",
        "name": "Header Page (Tailwind)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "0edb4ea33642246d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "0edb4ea33642246d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "props",
                "type": "str",
                "value": "{\"widgetID\":\"HeaderPage1\",\"type\":\"HeaderPage\",\"label\":\"Adrian Hastro Pagade\"}"
            }
        ],
        "meta": {
            "module": "Test",
            "type": "123",
            "version": "1.0",
            "author": "Rezki",
            "desc": "1.0"
        },
        "color": "#DDAA99"
    },
    {
        "id": "77a7618a8cec42ce",
        "type": "comment",
        "z": "2f9f2a3e43ec6f24",
        "name": "Header Page (Tailwind)",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "0edb4ea33642246d",
        "type": "function",
        "z": "2f9f2a3e43ec6f24",
        "name": "Header",
        "func": "msg.payload = `\n<nav id=\"${this.widgetID}Elm\"\n  class=\"relative w-full flex flex-wrap items-center justify-between py-3 bg-white text-dark-500 shadow-lg navbar navbar-expand-lg navbar-light\"\n>\n  <div class=\"container-fluid w-full flex flex-wrap items-center justify-between px-6\">\n    \n    <div class=\"collapse navbar-collapse flex-grow items-center\" id=\"navbarSupportedContent1\">\n      <a class=\"w-32\" href=\"#\"> <img src=\"../assets/src/ssc.png\"> </a>\n        <!-- Left links -->\n      <ul class=\"navbar-nav flex flex-col pl-0 list-style-none mr-auto\">\n        <li class=\"nav-item p-2\">\n          <a class=\"nav-link text-gray-800\" href=\"#\">Home</a>\n        </li>\n        <li class=\"nav-item p-2\">\n          <a\n            class=\"nav-link text-gray-800 opacity-60 hover:opacity-80 focus:opacity-80 p-0\"\n            href=\"#\"\n            >Project</a\n          >\n        </li>\n        <li class=\"nav-item p-2\">\n          <a\n            class=\"nav-link text-gray-800 opacity-60 hover:opacity-80 focus:opacity-80 p-0\"\n            href=\"#\"\n            >Save Project</a\n          >\n        </li>\n               <li class=\"nav-item p-2\">\n          <a\n            class=\"nav-link text-gray-800 opacity-60 hover:opacity-80 focus:opacity-80 p-0\"\n            href=\"#\"\n            >Load Project</a\n          >\n        </li>\n        \n      </ul>\n      <!-- Left links -->\n    </div>\n    <!-- Collapsible wrapper -->\n\n    <!-- Right elements -->\n    <div class=\"flex items-center relative\">\n     \n      <div class=\"dropdown relative\">\n        <a\n          class=\"text-gray-800 opacity-60 hover:opacity-80 focus:opacity-80 mr-4 dropdown-toggle hidden-arrow flex items-center\"\n          href=\"#\"\n          id=\"dropdownMenuButton1\"\n          role=\"button\"\n          data-bs-toggle=\"dropdown\"\n          aria-expanded=\"false\"\n        >\n          <svg\n            aria-hidden=\"true\"\n            focusable=\"false\"\n            data-prefix=\"fas\"\n            data-icon=\"bell\"\n            class=\"w-4\"\n            role=\"img\"\n            xmlns=\"http://www.w3.org/2000/svg\"\n            viewBox=\"0 0 448 512\"\n          >\n            <path\n              fill=\"currentColor\"\n              d=\"M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z\"\n            ></path>\n          </svg>\n          <span\n            class=\"text-gray-800 bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1.5\"\n            >1</span\n          >\n        </a>\n        <ul\n          class=\"dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0\"\n          aria-labelledby=\"dropdownMenuButton1\"\n        >\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Action</a\n            >\n          </li>\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Another action</a\n            >\n          </li>\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Something else here</a\n            >\n          </li>\n        </ul>\n      </div>\n      <div class=\"dropdown relative\">\n        <a\n          class=\"dropdown-toggle flex items-center hidden-arrow\"\n          href=\"#\"\n          id=\"dropdownMenuButton2\"\n          role=\"button\"\n          data-bs-toggle=\"dropdown\"\n          aria-expanded=\"false\"\n        >\n          <img\n            src=\"https://mdbootstrap.com/img/new/avatars/2.jpg\"\n            class=\"rounded-full\"\n            style=\"height: 25px; width: 25px\"\n            alt=\"\"\n            loading=\"lazy\"\n          /> <span class=\"ml-2 nav-link text-gray-800 opacity-60 hover:opacity-80 focus:opacity-80 p-0\" > Muhammad Rezki Dwijayanto</span>\n        </a>\n        <ul\n          class=\"dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0\"\n          aria-labelledby=\"dropdownMenuButton2\"\n        >\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Action</a\n            >\n          </li>\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Another action</a\n            >\n          </li>\n          <li>\n            <a\n              class=\"dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100\"\n              href=\"#\"\n              >Something else here</a\n            >\n          </li>\n        </ul>\n      </div>\n    </div>\n    <!-- Right elements -->\n  </div>\n</nav>\n       `;\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    }
]